@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

/* global styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  margin: 0 auto;
  font-style: normal;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header */

.main-header {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.actions-iconic-button {
  background-color: transparent;
}

.actions-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  height: 37px;
  min-width: 160px;
}

/* footer */

.footer {
  display: flex;
  height: 120px;
  padding: 0 72px;
  align-items: center;
  justify-content: space-between;
}

.socials-list {
  display: flex;
  list-style-type: none;
}

.telephone-link {
  text-decoration: none;
  height: 40px;
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.main-content {
  flex-grow: 1;
}

/* style for index.html */

.banner {
  width: 1200px;
  height: 485px;
  background-image: url('images/bg-banner.jpg');
  background-color: #92d5fd;
}

.reason {
  text-align: center;
}

.reason-main-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.reason-main-text {
  font-size: 22px;
  line-height: 36px;
}

.reason-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reason-card {
  display: flex;
  height: 384px;
}

.reason-card.reverse-order .reason-img-wrapper {
  order: 2;
}

.reason-card.reverse-order .reason-text-content {
  order: 1;
}

.reason-item.full {
  width: 100%;
}

.reason-item.short {
  width: calc(100% / 3);
}

.reason-item.full .reason-card {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.reason-item.full .reason-text-content {
  width: calc(100% / 3);
}

.reason-item.short .reason-title {
  color: #000000;
}

.reason-item.short:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reason-item.short:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.reason-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 97px 87px 87px;
}

.reason-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  width: 182px;
}

.reason-sub-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reason-sub-item {
  padding: 89px 75px 79px;
  width: calc(100% / 3);
}

.reason-sub-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reason-sub-item:nth-child(even) {
  background-color: #FFFFFF;
}

.reason-sub-icon {
  margin-bottom: 23px;
}

.reason-text {
  line-height: 21px;
  margin: 0;
}

.reason-text:not(:last-child) {
  margin-bottom: 30px;
}

.reason-sub-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.reason-sub-text {
  margin: 0;
}

.question-block {
  text-align: center;
}

.question-block-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.question-block-text {
  font-size: 22px;
  text-align: center;
}

.search-button {
  width: 575px;
  height: 60px;
  font-size: 20px;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756257;
}

.subscribe-block {
  width: 1200px;
  height: 411px;
  text-align: center;
}

.subscribe-block.with-background-image {
  color: #FFFFFF;
  background-image: url('images/bg-subscribe.jpg');
  background-color: #89abb7;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
}

.subscribe-text {
  font-size: 22px;
}

.subscribe-email-input {
  height: 60px;
  width: 600px;
  text-align: left;
  color: #000000;
}

.subscribe-email-button {
  height: 60px;
  width: 200px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  background-color: #83B3D3;
  color: #FFFFFF;
}

/* style for catalog.html */

.catalog {
  width: 1200px;
  min-height: 408px;
  background-image: url('images/bg-catalog.jpg');
  color: #FFFFFF;
  background-color: #89abb7;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
}

.filter-catalog-legend {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.filter-catalog-label {
  line-height: 23px;
}

.filter-input-number {
  background-color: transparent;
  color: inherit;
}

.filter-catalog-button {
  width: 160px;
  height: 48px;
  font-family: inherit;
  color: #FFFFFF;
}

.filter-catalog-button.submit {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: #83B3D3;
  text-transform: uppercase;
}

.filter-catalog-button.reset {
  line-height: 23px;
  background-color: transparent;
}

.filter {
  display: flex;
  align-items: center;
  padding: 44px 72px 53px;
}

.filter-sort-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-search-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.sort-filter {
  height: 48px;
  width: 287px;
  line-height: 23px;
  margin-right: 81px;
}

.filter-sort-button {
  background-color: transparent;
}

.hotel-list {
  display: flex;
  margin: 0;
  padding: 20px;
  list-style-type: none;
  flex-wrap: wrap;
}

.hotel-item {
  padding: 10px;
}

.hotel-image {
  margin-bottom: 16px;
}

.hotel-title {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0 0 16px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.hotel-text,
.hotel-price {
  line-height: 23px;
}

.star-list {
  display: flex;
  list-style-type: none;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  margin: 0;
  padding: 0;
}

.star-item:not(:last-child) {
  margin-right: 7px;
}

.raiting {
  text-transform: uppercase;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: 37px;
  width: 160px;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  justify-content: center;
}

.hotel-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 37px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756257;
  color: #FFFFFF;
}

.hotel-favorite-button {
  height: 37px;
  width: 140px;
  text-transform: uppercase;
  background-color: #83B3D3;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.hotel-content {
  padding: 0 72px;
}

.hotel-content-footer {
  display: flex;
  align-items: center;
}

.pagination-list {
  display: flex;
  list-style-type: none;
}

.more-button {
  height: 60px;
  width: 620px;
  background-color: #83B3D3;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.pagination-button {
  height: 55px;
  width: 55px;
  background-color: #83B3D3;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
}

.pagination-button.current {
  background-color: #F2F2F2;
  color: #000000;
}

.page-count-label {
  line-height: 23px;
}

.page-count {
  height: 48px;
  width: 160px;
  line-height: 23px;
  background-color: transparent;
}
